[submodule "themes/hugo-profile"]
	path = themes/hugo-profile
	url = https://github.com/gurusabarish/hugo-profile.git
[submodule "themes/gallery"]
	path = themes/gallery
	url = https://github.com/liavila/hugo-theme-gallery.git
